".source.php":
  "GetMessage('…')":
    prefix: "GetMessage"
    body: "GetMessage('${1:MESG_KEY}')"
  "Bitrix\\Main\\Loader::includeModule('…')":
    prefix: "includeModule"
    body: "Bitrix\\\\Main\\\\Loader::includeModule('${1:iblock}');"
  "if (!$USER->isAdmin()) {…}":
    prefix: "ifadmin"
    body: """
      if (${1:!}$USER->isAdmin()) {
      	${2:die();}
      }
    """
  "SITE_DIR":
    prefix: "SD"
    body: "SITE_DIR"
  "SITE_TEMPLATE_PATH":
    prefix: "STP"
    body: "SITE_TEMPLATE_PATH"
  "$_SERVER['DOCUMENT_ROOT']":
    prefix: "ROOT"
    body: "$_SERVER['DOCUMENT_ROOT']"
  "$_SERVER['REMOTE_ADDR']":
    prefix: "REM"
    body: "$_SERVER['REMOTE_ADDR']"
