"*":
  aligner:
    alignComments: true
  "apathy-theme":
    altStyle: "Color Pop"
    syntaxBrightness: "100%"
    syntaxContrast: "100%"
    syntaxSaturation: "100%"
  "atom-easy-jsdoc":
    beta: true
    useReturns: true
  "autocomplete-plus": {}
  "block-cursor":
    global:
      blinkOff:
        backgroundColor: "#000000"
        borderColor: "#00f900"
        borderStyle: "bordered-box"
      blinkOn: {}
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "vim-mode-plus"
      "symbol-gen"
      "symbols-view"
      "goto-definition"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "mpd"
      "scratch"
      "synonym-replace"
    ]
    projectHome: "/Users/seenkoo/Code"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokai"
    ]
    titleBar: "hidden"
    warnOnLargeFileLimit: 10
  "dash-ui":
    themeColor: "Purple"
  docblockr: {}
  editor:
    fontFamily: "SourceCode Pro"
    fontSize: 11
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "eval-and-replace":
    customShell: "/usr/local/bin/zsh"
  "exception-reporting":
    userId: "891c391f-f6e4-4672-8bd2-f0f59250261b"
  "file-icons":
    strategies: {}
  filesize: {}
  fonts:
    fontFamily: "FiraCode Light"
  "glowing-cursor":
    cursorWidth: 2
    glowColor: "#ff2600"
    glowDistance: 4
    innerColor: "#ff9300"
    transitionDuration: 1000
  goto:
    logToConsole: true
  "goto-definition":
    performanceMode: true
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
  "jsdoc-generator": {}
  minimap:
    moveCursorOnMinimapClick: true
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-quick-highlight": false
      "minimap-quick-highlightDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
    redrawDelay: 100
    scrollAnimationDuration: 200
  mpd: {}
  "node-requirer":
    aliasList: "{\"lodash\":\"_\",\"async\":\"a\",\"bluebird\":\"Promise\",\"ioredis\":\"Redis\"}"
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    autocompleteSuggestionsFromValue: true
  preview:
    _analyticsUserId: "6dd96efc-4c04-4f3f-8bac-70bdd8055265"
  scratch:
    autosave: true
  "seti-syntax":
    dynamicColor: false
    themeColor: "Green"
  "seti-ui":
    compactView: true
    fileIcons: false
    hideProjectTab: true
    themeColor: "Purple"
  "vim-mode-plus":
    ignoreCaseForSearch: true
    statusBarModeStringStyle: "long"
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
  "xatom-debug":
    showToolbarIcon: false
".js.regexp.replacement.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 99
    softWrap: true
    softWrapAtPreferredLineLength: true
".js.regexp.source":
  editor:
    preferredLineLength: 99
".js.source":
  editor:
    preferredLineLength: 99
".source.yaml":
  editor:
    autoIndentOnPaste: true
