'.platform-darwin':
  'cmd-f': 'find-and-replace:show'

'atom-text-editor':
  'cmd-f1': 'api-docs:search-under-cursor'
  'cmd-`': 'hey-pane:toggle-focus-of-active-pane'
  'ctrl-cmd-p': 'project-manager:list-projects'

'atom-workspace':
  'cmd-;': 'file-bookmark:toggle-panel'
  'cmd-:': 'file-bookmark:toggle-bookmark'#'shift-cmd-;'
  'cmd-t': 'fuzzy-grep:toggle'
  'alt-?': 'fuzzy-grep:toggleWordUnderCursor'#'shift-alt-/'
  'cmd-r': 'fuzzy-finder:toggle-file-finder'
  'ctrl-cmd-shift-p': 'pinned-tabs:pin-active'
  'ctrl-alt-o': 'remote-ftp:toggle'

'body.platform-darwin atom-workspace .atom-fuzzy-grep atom-text-editor':
  'cmd-v': 'fuzzy-grep:pasteEscaped'

'.platform-darwin atom-workspace':
  'ctrl-cmd-,': 'scratch:toggle'
  'ctrl-alt-cmd-/': 'comment-commander:format-comment'
  'cmd-?': 'comment-headers:insert'

'atom-text-editor:not([mini])':
  'alt-left': 'editor:move-to-beginning-of-word'
  'alt-right': 'editor:move-to-end-of-word'
  'ctrl-alt-d': 'editor:delete-to-end-of-subword'
  'ctrl-alt-delete': 'editor:delete-to-end-of-subword'
  'alt-d': 'editor:delete-to-end-of-word'
  'alt-delete': 'editor:delete-to-end-of-word'
  'f1': 'dash:shortcut'
  'shift-f1': 'dash:shortcut-alt'
  'ctrl-shift-w': 'editor:select-word'
  'alt-w': 'bookmarks:view-all'
  'alt-e': 'bookmarks:jump-to-next-bookmark'
  'alt-q': 'bookmarks:jump-to-previous-bookmark'
  'ctrl-u': 'editor:delete-line'
  'ctrl-t': 'fuzzy-finder:toggle-buffer-finder'
  'cmd-shift-e': 'autocomplete-plus:activate'
  'cmd-u': 'emmet:update-tag'
  'cmd-shift-r': 'emmet:remove-tag'
  'ctrl-w': 'emmet:wrap-with-abbreviation'
  'cmd-e': 'emmet:expand-abbreviation-with-tab'

'.platform-darwin atom-text-editor':
  'f3': 'next-occurrence:prev'
  'f4': 'next-occurrence:next'
  'alt-r': 'bookmarks:toggle-bookmark'
  # 'shift-alt-r': 'bookmarks:clear-bookmarks'
  'ctrl-s': 'bracket-matcher:select-inside-brackets'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-cmd-j': 'editor:move-line-down'
  'ctrl-cmd-k': 'editor:move-line-up'

'.platform-darwin atom-workspace atom-text-editor:not(.mini)[data-grammar~="todo"]':
  'ctrl-d': 'tasks:complete'
  'shift-cmd-L': 'tasks:convert-to-task'
