packages: [
  "acido-syntax"
  "aligner"
  "aligner-javascript"
  "aligner-php"
  "apex-superfish-menu"
  "atom-beautify"
  "atom-bracket-highlight"
  "atom-html-templates-extended"
  "atom-nodejs-snippets"
  "atom-shell-commands"
  "auto-indent"
  "auto-run"
  "autocomplete-modules"
  "autocomplete-php"
  "autocomplete-ruby"
  "bitrix-snippets"
  "block-comment"
  "bottom-dock"
  "busy-signal"
  "center-line"
  "color-picker"
  "dash"
  "docblockr"
  "emmet"
  "emmet-snippets-compatibility"
  "es6-javascript"
  "expand-selection-to-quotes"
  "file-icons"
  "fonts"
  "glowing-cursor"
  "goto"
  "goto-definition"
  "highlight-column"
  "highlight-line"
  "highlight-selected"
  "intentions"
  "javascript-snippets"
  "jquery-snippets"
  "language-env"
  "language-nginx"
  "linter"
  "linter-php"
  "linter-tidy"
  "linter-ui-default"
  "lodash-snippets"
  "markdown-preview-plus"
  "minimap"
  "minimap-bookmarks"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "minimap-pigments"
  "monokai"
  "neon-selection"
  "next-occurrence"
  "no-title-bar"
  "node-requirer"
  "nodejs-snippets"
  "open-in-browser"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "purple-haze-syntax"
  "remote-edit"
  "Remote-FTP"
  "ruby-block"
  "set-syntax"
  "seti-ui"
  "smart-tags"
  "snippet-manager"
  "standard-formatter"
  "sublime-block-comment"
  "symbol-gen"
  "synonym-replace"
  "tasks"
  "titan-dark-syntax"
  "todo-show"
  "toggle-quotes"
  "toggle-snake-camel"
  "tree-view-autoresize"
  "tree-view-extended"
]
