packages: [
  "acido-syntax"
  "aligner"
  "aligner-css"
  "aligner-javascript"
  "aligner-php"
  "aligner-ruby"
  "aligner-scss"
  "atom-bracket-highlight"
  "atom-nodejs-snippets"
  "autocomplete-ruby"
  "bitrix-snippets"
  "block-comment"
  "busy-signal"
  "center-line"
  "color-picker"
  "dash"
  "docblockr"
  "expand-selection-to-quotes"
  "file-icons"
  "fonts"
  "glowing-cursor"
  "goto"
  "goto-definition"
  "highlight-line"
  "highlight-selected"
  "intentions"
  "linter"
  "linter-coffeescript"
  "linter-ruby"
  "linter-ui-default"
  "lodash-snippets"
  "markdown-preview-plus"
  "monokai"
  "neon-selection"
  "next-occurrence"
  "no-title-bar"
  "node-requirer"
  "nodejs-snippets"
  "open-in-browser"
  "package-sync"
  "pigments"
  "pretty-json"
  "purple-haze-syntax"
  "ruby-block"
  "seenkoo-syntax"
  "set-syntax"
  "seti-ui"
  "symbol-gen"
  "synonym-replace"
  "tasks"
  "titan-dark-syntax"
]
