'packages': [
  'about'
  'archive-view'
  'atom-dark-syntax'
  'atom-dark-ui'
  'atom-light-syntax'
  'atom-light-ui'
  'atom-nodejs-snippets'
  'autocomplete-atom-api'
  'autocomplete-css'
  'autocomplete-html'
  'autocomplete-plus'
  'autocomplete-snippets'
  'autoflow'
  'autosave'
  'background-tips'
  'base16-tomorrow-dark-theme'
  'base16-tomorrow-light-theme'
  'bookmarks'
  'bracket-matcher'
  'color-picker'
  'command-palette'
  'dalek'
  'dash'
  'deprecation-cop'
  'dev-live-reload'
  'encoding-selector'
  'exception-reporting'
  'file-icons'
  'find-and-replace'
  'fonts'
  'fuzzy-finder'
  'git-diff'
  'github'
  'go-to-line'
  'goto-definition'
  'grammar-selector'
  'highlight-selected'
  'image-view'
  'incompatible-packages'
  'keybinding-resolver'
  'language-c'
  'language-clojure'
  'language-coffee-script'
  'language-csharp'
  'language-css'
  'language-gfm'
  'language-git'
  'language-go'
  'language-html'
  'language-hyperlink'
  'language-java'
  'language-javascript'
  'language-json'
  'language-less'
  'language-make'
  'language-mustache'
  'language-objective-c'
  'language-perl'
  'language-php'
  'language-property-list'
  'language-python'
  'language-ruby'
  'language-ruby-on-rails'
  'language-sass'
  'language-shellscript'
  'language-source'
  'language-sql'
  'language-text'
  'language-todo'
  'language-toml'
  'language-xml'
  'language-yaml'
  'line-ending-selector'
  'link'
  'lodash-snippets'
  'markdown-preview'
  'markdown-preview-plus'
  'metrics'
  'no-title-bar'
  'node-requirer'
  'nodejs-snippets'
  'notifications'
  'one-dark-syntax'
  'one-dark-ui'
  'one-light-syntax'
  'one-light-ui'
  'open-in-browser'
  'open-on-github'
  'package-generator'
  'parcel'
  'pretty-json'
  'seti-ui'
  'settings-view'
  'snippets'
  'solarized-dark-syntax'
  'solarized-light-syntax'
  'spell-check'
  'status-bar'
  'styleguide'
  'symbol-gen'
  'symbols-view'
  'tabs'
  'timecop'
  'titan-dark-syntax'
  'tree-view'
  'update-package-dependencies'
  'welcome'
  'whitespace'
  'wrap-guide'
]
