[
  {
    title: "fbk.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/fbk.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "ensb.tomsk.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/ensb.tomsk.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "u42219 (modeli96.ru)"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/u42219.netangels.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "dotfiles"
    group: "config"
    paths: [
      "/Users/seenkoo/.dotfiles"
    ]
    icon: "icon-gear"
    devMode: true
  }
  {
    title: "ubersicht"
    group: "config"
    paths: [
      "/Users/seenkoo/.ubersicht"
    ]
    icon: "icon-gear"
    devMode: true
  }
  {
    title: "pes.spb.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/pes.spb.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "mcprof.smhost.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/mcprof.smhost.ru"
    ]
    icon: "icon-jersey"
    devMode: true
  }
  {
    title: "lk.tomsk.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/lk.tomsk.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "evrodush.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/evrodush.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "dev.ensb.tomsk.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/dev.ensb.tomsk.ru"
    ]
    icon: "icon-jersey"
    devMode: true
  }
  {
    title: "elsfbk.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/elsfbk.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "fbk-pravo.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/fbk-pravo.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "elsfbk.smhost.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/elsfbk.smhost.ru"
    ]
    icon: "icon-jersey"
    devMode: true
  }
  {
    title: "mcprof.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/mcprof.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "gorsovetnsk.smhost.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/gorsovetnsk.smhost.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "omesc.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/omesc.ru"
    ]
    icon: "icon-jersey"
  }
  {
    title: "tesk.tmb.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/tesk.su"
    ]
    icon: "icon-jersey"
  }
  {
    title: "nginx config"
    group: "config"
    paths: [
      "/usr/local/etc/nginx"
    ]
    icon: "icon-gear"
    devMode: true
  }
  {
    title: "bx.shinku.pro"
    group: "seenkoo"
    paths: [
      "/usr/local/var/www/bx.shinku.pro"
    ]
    devMode: true
  }
  {
    title: "rao-esv.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/rao-esv.ru"
    ]
  }
  {
    title: "pesc.ru"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/softmajor/pesc.ru"
    ]
  }
  {
    title: "sorevnovanie"
    group: "softmajor"
    paths: [
      "/usr/local/var/www/sorevnovanie.shinku.pro/www"
      "/Users/seenkoo/Code/softmajor/sorevnovanie.smhost.ru"
    ]
  }
  {
    title: "sorevn"
    group: "softmajor"
    paths: [
      "/Users/seenkoo/Code/bitrix"
      "/usr/local/var/www/bx.shinku.pro/www/bitrix"
    ]
  }
]
