".source.js":
  "Block comment":
    prefix: "/"
    body: "/**"
  "getter (symbol key, lazy defaults)":
    prefix: "gets"
    body: '''
      get ${1:propName} () {
        const key = Symbol.for("${2:Klass}#${1:propName}")
        return this[key] || (this[key] = ${3:{
          ${4:defaults: "here"}
        \\}})
      }
    '''
  "setter (symbol key)":
    prefix: "sets"
    body: '''
      set ${1:propName} () {
        const key = Symbol.for("${2:Klass}#${1:propName}")
        return (this[key] = val)
      }
    '''
".text.html.php":
  "<? … ?>":
    prefix: "php"
    body: "<? $0 ?>"
  "<? echo … ?>":
    prefix: "echo"
    body: "<? echo ${1:$var} ?>$0"
  "<? echo htmlentities(…) ?>":
    prefix: "echoh"
    body: "<? echo htmlentities(${1:$var}, ENT_QUOTES, \"utf-8\"); ?>$0"
  "<? else: ?>":
    prefix: "else"
    body: '''
      <?
      }
      else
      { ?>
    '''
  "<? foreach (…) … <? endforeach ?>":
    prefix: "foreach"
    body: '''
      <? foreach ($${1:variable} as $${2:key}${3: => $${4:value}})
      { ?>
      	${0}
      <?
      } ?>
    '''
  "<? if (…) ?> … <? else ?> … <? endif ?>":
    prefix: "ifelse"
    body: '''
      <? if (${1:condition})
      { ?>
      	$2
      <?
      }
      else
      { ?>
      	$0
      <?
      } ?>
    '''
  "<? if (…) ?> … <? endif ?>":
    prefix: "if"
    body: '''
      <? if (${1:condition})
      { ?>
      	$0
      <?
      } ?>
    '''
  "<?=…?>":
    prefix: "e"
    body: "<?=${1:$var}?>"
  "<?=htmlspecialchars(…)?>":
    prefix: "eh"
    body: "<?=htmlspecialchars(${1:$var})?>"
  "<?if(!defined(\"B_PROLOG_INCLUDED\" … die();?>":
    prefix: "ifnotprolog"
    body: "<?if(!defined(\"B_PROLOG_INCLUDED\") || B_PROLOG_INCLUDED!==true)die();?>"
".source.php":
  "GetMessage('…')":
    prefix: "GetMessage"
    body: "GetMessage('${1:MESG_KEY}')"
  "Bitrix\\Main\\Loader::includeModule('…')":
    prefix: "includeModule"
    body: "Bitrix\\\\Main\\\\Loader::includeModule('${1:iblock}');"
  "if (!$USER->isAdmin()) {…}":
    prefix: "ifadmin"
    body: '''
      if (${1:!}$USER->isAdmin()) {
      	${2:die();}
      }
    '''
  SITE_DIR:
    prefix: "SD"
    body: "SITE_DIR"
  SITE_TEMPLATE_PATH:
    prefix: "STP"
    body: "SITE_TEMPLATE_PATH"
  "$_SERVER['DOCUMENT_ROOT']":
    prefix: "ROOT"
    body: "$_SERVER['DOCUMENT_ROOT']"
  "$_SERVER['REMOTE_ADDR']":
    prefix: "REM"
    body: "$_SERVER['REMOTE_ADDR']"
