atom-workspace {
  font-family: Segoe UI;
}

.tree-view {
  // background-color: whitesmoke;
}

atom-text-editor {
  background-color: hsl(285, 75%, 4%);
  font-family: Source Code Pro;
}

atom-text-editor .cursor {
  //
}

atom-text-editor .highlight .region {
  // background-color: hsl(285, 75%, 18%, 0.42) !important;
}
